[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
fastapi = {version = "*", extras = ["all"]}
aiofiles = "*"
python-dotenv = "*"
pydantic = "*"
supabase = "*"
janome = "*"

[dev-packages]

[requires]
python_version = "3.10"
